$bg-color: #ffffff;

html, body{
  box-sizing: border-box;
  background-color: $bg-color;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}